<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Burger Shop</title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<main>
			<h1>Welcome to BurgerOnline</h1>
			<section>
				<h2>Select Burger</h2>
				<p>This is where you select a burger.</p>
				<table>
					<tbody>
						<tr>
							<td><h3>Burger 1</h3></td>
							<td><h3>Burger 2</h3></td>
							<td><h3>Burger 3</h3></td>
						</tr>
						<tr>
							<td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cheeseburger.jpg/1200px-Cheeseburger.jpg" alt="A burger" title="A burger" width=300></img></td>
							<td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cheeseburger.jpg/1200px-Cheeseburger.jpg" alt="A burger" title="A burger" width=300></img></td>
							<td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cheeseburger.jpg/1200px-Cheeseburger.jpg" alt="A burger" title="A burger" width=300></img></td>
						</tr>
						<tr>
							<td>
								<ul>
									<li>500 kCal</li>
									<li>Contains lactose</li>
									<li>Contains gluten</li>
								</ul>
							</td>
							<td>
								<ul>
									<li>500 kCal</li>
									<li>Contains lactose</li>
									<li>Contains gluten</li>
								</ul>
							</td>
							<td>
								<ul>
									<li>500 kCal</li>
									<li>Contains lactose</li>
									<li>Contains gluten</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section>
				<h2>Customer Information</h2>
				<p>This is where you provide necessary information.</p>

				<h3>Delivery Information</h3>
				<p>
				<label for="fullname">Full name</label><br/>
				<input type="text" id="fullname" name="fullname" required="required" placeholder="Full name"/>
				</p>
				<p>
				<label for="email">E-mail</label><br/>
				<input type="email" id="email" name="email" required="required" placeholder="E-mail address"/>
				</p>
				<p>
				<label for="street">Street</label><br/>
				<input type="text" id="street" name="street" required="required" placeholder="Street name"/>
				</p>
				<p>
				<label for="house">House</label><br/>
				<input type="number" id="house" name="house" required="required" placeholder="House number"/>
				</p>
				<p>
				<label for="payment">Payment method</label><br/>
				<select id="payment" name="payment">
					<option>Payment 1</option>
					<option>Payment 2</option>
					<option>Payment 3</option>
					<option>Payment 4</option>
				</select>
				</p>
				<p>
				<input type="radio" name="gender" value="male">Male<br/>
				<input type="radio" name="gender" value="female">Female<br/>
				<input type="radio" name="gender" value="other">Other<br/>  
				<input type="radio" name="gender" value="undisclosed" checked="checked">Undisclosed<br/>  
				<p>
				<p>
				<button type="submit">
					<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.iconfinder.com%2Fdata%2Ficons%2Fe-commerce-50%2F64%2Fx-04-2-512.png&f=1&nofb=1" alt="deliver" title="deliver" width=30></img>
					Place my order!
				</button>
				</p>
			</section>
		</main>
		<footer>
			Test footer.
		</footer>
	</body>
</html>
