body {
	font-family: arial, sans-serif;
	font-size: 1.2em;
}

.allergy-information {
	font-weight: bold;
}

#burger-info {
	border: 1px dashed #ffffff;
	background-color: #000000;
	color: #ffffff;
}

#customer-info {
	border: 1px dashed #000000;
}

button:hover {
	background-color: #99ccff;
	cursor: pointer;
}

table {
	width: 80%;
	margin: 0 auto;
}

body {
	margin: 0 auto;
}

header {
	margin: 1%;
}

header img {
	height: 20vh;
	width: 100%;
	opacity: 0.5;
}

section {
	margin: 1%;
}

section h2, h3, p {
	margin-left: 1%;
}

button {
	margin-top: 2%;
}
